.underground {
  z-index: 0;
  background: red;
  z-index: g-index("underground");
}

.sea {
  z-index: g-index("sea", -1);
}

.land {
  z-index: g-index("land");
}

.hill {
  z-index: g-index("hill");
}

.mountain {
  z-index: g-index("mountain");
}

.cloud {
  z-index: g-index("cloud");
}

.moon {
  z-index: g-index("moon");
}

.sun {
  z-index: g-index("sun");
}

.below-sun {
  z-index: g-below('sun');
}

.above-sun {
  z-index: g-above(sun);
}