.one {
  z-index: g-index("one");
}

.two {
  z-index: g-index("two");
}

.three {
  z-index: g-index("three");
}

.below-three {
  z-index: g-below('three');
}

.above-three {
  z-index: g-above(three);
  content: "g-above(three)";
  content: "g-above('three')";
  content: g-above("three");
}