.underground {
  z-index: 0;
  background: red;
  z-index: -3;
}

.sea {
  z-index: -1;
}

.land {
  z-index: 3;
}

.hill {
  z-index: 6;
}

.mountain {
  z-index: 9;
}

.cloud {
  z-index: 12;
}

.moon {
  z-index: 15;
}

.sun {
  z-index: 18;
}

.below-sun {
  z-index: 17;
}

.above-sun {
  z-index: 19;
}